   <title>My Q | Opportunity For All</title
      <link rel="stylesheet" href="css/normalize.css">
      <link href='http://fonts.googleapis.com/css?family=Changa+One|Open+Sans:400italic,700italic,400,700,800'
      rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="css/main.css">
      <link rel="stylesheet" href="/css/responsive.css">
    <link href="https://fonts.googleapis.com/css?family=Muli%7CRoboto:400,300,500,700,900"
        rel="stylesheet">
  </head>
  <body>
    <header>
      <a href="http://localhost:3000/students" id="logo"></a>
      <h1>Web Application | CS390P</h1>
      <h2>Project_2 </h2>
      <nav>
        <ul>
          <li><a href="http://localhost:3000/home/index">Home</a></li>
           <li><a href="http://localhost:3000/students"class="selected" >Students</a></li> <!--More  -->
            <li><a href="http://localhost:3000/courses">Courses</a></li>
            <li><a href="http://localhost:3000/sections">Sections</a></li>
            <li><a href="http://localhost:3000/about/index">About</a></li>
            <li><a href="localhost:3000/users/sign_up">Login</a></li>
            <li><a href="#">Profile</a></li>
        </ul>
      </nav> <!-- Nav ends here -->
    </header> <!-- Header ends here -->

<h1>Students</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>
<!-- Autocomplete-->
<%= form_tag(search_students_url, method: "get") do %>
<%= label_tag(:search, "Search for:") %>
<%= text_field_tag :search, params[:search], data: 
{ autocomplete: autocomplete_student_name_students_path } %> 
<%= submit_tag("Search") %>
<% end %>



  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= link_to 'Show', student %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student', new_student_path %>
<!-- Home Page Added -->
<ul>
<%= link_to 'Home', "http://localhost:3000/home/index" %><br>

<%= link_to 'Courses', "http://localhost:3000/courses" %><br>

<%= link_to 'Sections', "http://localhost:3000/sections" %><br>

<%= link_to 'Students', "http://localhost:3000/students" %>
</ul