    <title>My Q | Opportunity For All</title
      <link rel="stylesheet" href="css/normalize.css">
      <link href='http://fonts.googleapis.com/css?family=Changa+One|Open+Sans:400italic,700italic,400,700,800'
      rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="css/main.css">
      <link rel="stylesheet" href="/css/responsive.css">
    <link href="https://fonts.googleapis.com/css?family=Muli%7CRoboto:400,300,500,700,900"
        rel="stylesheet">
  </head>
  <body>
    <header>
      <a href="http://localhost:3000/sections" id="logo"></a>
      <h1>Web Application | CS390P</h1>
      <h2>Project_2 </h2>
      <nav>
        <ul>
          <li><a href="http://localhost:3000/home/index">Home</a></li>
           <li><a href="http://localhost:3000/students">Students</a></li> <!--More  -->
            <li><a href="http://localhost:3000/courses">Courses</a></li>
            <li><a href="http://localhost:3000/sections"class="selected">Sections</a></li>
            <li><a href="#">About</a></li>
            <li><a href="visit.html">Login</a></li>
            <li><a href="profile.html">Profile</a></li>
        </ul>
      </nav> <!-- Nav ends here -->
    </header> <!-- Header ends here -->

<ul>
<table>
  <thead>
    <tr>
      <th>Semester</th>
      <th>Number</th>
      <th>Room</th>
      <th>Course</th>
      <!--th>Name</th-->
      <th colspan="4"></th>
    </tr>
  </thead>
<%= form_tag(search_sections_url, method: "get") do %>
    <%= label_tag(:query, "Search for:") %>
    <%= text_field_tag(:query) %>
    <%= submit_tag("Search") %>
<% end %>

  <tbody>
    <% @sections.each do |section| %>
      <tr>
        <td><%= section.semester %></td>
        <td><%= section.number %></td>
        <td><%= section.room %></td>
        <td><%= section.course.name %></td>
        <td><%= link_to 'Show', section %></td>
        <td><%= link_to 'Edit', edit_section_path(section) %></td>
        <td><%= link_to 'Destroy', section, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Section', new_section_path %>

<!-- Home Page Added -->
<ul>
<%= link_to 'Home', "http://localhost:3000/home/index" %><br>

<%= link_to 'Courses', "http://localhost:3000/courses" %><br>

<%= link_to 'Sections', "http://localhost:3000/sections" %><br>

<%= link_to 'Students', "http://localhost:3000/students" %>
</ul